.status-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 4px 10px;
  background-color: #fcfcfc;
}

.status-bar__column {
  opacity: 0.7;
}

.status-bar i {
  font-size: 14px;
}

.status-bar .status-bar__battery-level {
  margin-left: 5px;
}
